ul {
  margin: 10px 0 10px 15px;
}
code {
  font-family: Consolas,Monaco,Courier,monospace;
}
#status-bar {
  height: 22px;
}
#installer-die, #installer-page {
  background-color: #FFF;
  margin-top: 20px;
}
.next_step {
  width: 250px;
  margin-top: 20px;
}
.next_step a {
  display: block;
}
span.label, span.value {
  font-size: 24px;
}
.label.no {
  color: red;
}
.value.yes {
  color: #0060E0;
  background: url(../img/yes.png) no-repeat 0 50%;
  display: block;
  min-height: 32px;
  padding-left: 40px;
}
.value.no {
  color: red;
  background: url(../img/no.png) no-repeat 0 50%;
  display: block;
  min-height: 32px;
  padding-left: 40px;
}
.error_message {
  border: 2px solid #990000;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #CF3333;
  color: #FFF;
}
.success_message {
  border: 2px solid green;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #E4FFCF;
}
.info_message {
  background-color:#FFFFEE;
  border:1px solid #EEEE00;
  padding: 10px;
  margin-bottom: 20px;
}
code {
  border: 1px solid #999;
  background-color: #ccc;
}
.step_title, .error_title {
  font-size: 26px;
  color: #FF9900;
  border-bottom: 1px solid #FF9900;
  margin-bottom: 10px;
}
.error_title {
  color: red;
  border-color: red;
}
form.input label {
  font-size:24px;
  line-height:2.2em;
}
form.input input {
  font-size:1.4em;
  margin:0.5em 0 0;
  width:345px;
}
form.input .input_information {
  display: block;
  font-style: italic;
  color: #999;
}